<div class="container">
    <h1>{{title}}</h1>
    <div>
    <div *ngFor= "let dog of dogs"  [id]="dog.id" [dog]="dog">
        {{ dog.name }}
        
        <!-- {{counter.value}} -->
        <button (click)="increment()">Like</button>
        <span> {{numLikes}}</span>
       <img width="50%" alt="dog gif" [src]="dog.thumbnail">
       <counter [Counter]=dogs[Dog]></counter>   
       </div>
    
    <!-- <button class="btn btn-primary" (click)="Like()" >Create</button>
    
    <div class="row">
        <counter></counter> -->
    </div>
    </div>
    <!-- <counter *ngFor="let counter of counters" [counter]="counter"></counter>   -->
